{% load static %}
<footer class="footer">
    <div class="footer-container">
      <!-- Column 1: Logo -->
      <div class="footer-column logo-column">
        <img src="{% static 'image/our_logo.png' %}" alt="ManageHouse Logo" class="footer-logo" />
        <p class="footer-small">Event Solutions</p>
      </div>
  
      <!-- Column 2 -->
      <div class="footer-column">
        <p><a href="#">Contact Us</a></p>
        <p><a href="#">Terms & Conditions</a></p>
        <p><a href="#">Privacy Policy</a></p>
        <p><a href="#">Help</a></p>

      </div>
  
      <!-- Column 3 -->
      <div class="footer-column">
        <p><a href="#">Services</a></p>
        <p><a href="#">Event Packages</a></p>
        <p><a href="#">Gallery</a></p>
        <p><a href="#">FAQs</a></p>
      </div>
  
      <!-- Column 4 -->
      <div class="footer-column">
        <p><a href="#">Support</a></p>
        <p><a href="#">Rating</a></p>
        <p><a href="#">Resources</a></p>
        <p><a href="#">Affiliates</a></p>
      </div>
    </div>
  
    <div class="footer-divider"></div>
  
    <!-- Social Icons -->
    <div class="footer-social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-google-plus-g"></i></a>
      <a href="#"><i class="fab fa-flickr"></i></a>
    </div>
  
    <!-- Copyright -->
    <p class="footer-copy">©Copyright. All rights reserved.</p>
  </footer>