{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sajid</title>
  <link rel="stylesheet" href="{% static 'css/team_profiles/profile_tabiur.css' %}" />
</head>
<body>
  <a href="{% url 'meet_the_team' %}" class="close-button" title="Back to Team">X</a>

  <div class="card">
    <div class="left">
      <h2 class="title">Meet our amazing Production Manager</h2>
      <h1 class="name">Tabiur Rahman</h1>
      <div class="info">
        <p>tabiurrahman@gmail.com</p>
        <p>01516564589</p>
        <p>
          <a href="https://www.linkedin.com/in/tabiurrahman" class="social-link" target="_blank">
            🔗 LinkedIn: @tabiurrahman
          </a>
        </p>
        <hr />
        <p>44/i3</p>
        <p>West Rajabazar,</p>
        <p>Farmgate</p>
      </div>
    </div>
    <div class="right">
      <img src="{% static 'image/tabiur.jpeg' %}" alt="Tabiur" />
    </div>
  </div>
</body>
</html>
